<h1>Enter User ID to Get their Public  Pictures</h1>

<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :flickr_id, "Flicker User ID:" %>
  <%= form.text_field :flickr_id %>
  <%= form.submit "Get Photos" %>
<% end %>

<% if @urls.present?%>     
  <% @urls.each do |url| %>
    <%= image_tag "#{url}" %>  
  <% end %>
<% end%>


  