<h1>Enter User ID to Get their Public  Pictures</h1>

<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :flickr_id, "Flicker User ID:" %>
  <%= form.text_field :flickr_id %>
  <%= form.submit "Get Photos" %>
<% end %>

<% if @urls.present?%>   
<div data-controller="slideshow"  data-slideshow-index-value="1">
 <button data-action="slideshow#previous"> ← </button>
  <button data-action="slideshow#next"> → </button>

  <% @urls.each do |url| %>
  <div data-slideshow-target="slide">
    <%= image_tag "#{url}" %>  
      </div>  
  <% end %>
  </div>
<% end%>


  